.DS_Store
*.o
*.pyc
*.so
*.pyo
*.cfg
chains/
.ipynb_checkpoints/
.ipynb_*
*.sbatch
data/*cov
scripts/.DS_Store
data_challenge/
interface/.DS_Store
.DS_Store
likelihood/.DS_Store
scripts/.DS_Store
data/.DS_Store

/l2k2t.py
/kmodescalecut.ipynb
/Cl.py
/dlnCdlnK.py
/files4scalecut
/sbatch
/data/dc1_data
/data/cov_roman_real
/data/cov_roman
/data/cov_roman_les_eyes
/data/cov_roman_eyes
/data/cov_roman_Ntheta25
/data/roman_Ntheta25.mask
/data/roman_ones_Ntheta25.mask
/data/cov_roman_eyes_Ntheta25
/data/example*
/data/*SRD*
/data/*les*
/data/pca.txt
test_EE2.py
test_euclid_emu2.ipynb
roman_les*
roman_wcdm*
roman_comparison*
chi2s_CAMBAB.txt
chi2s_NCl.txt
chi2s_Na.txt
compare_Firecrown_COCOA.ipynb
comparechains.ipynb
convergence.ipynb
inference_results.ipynb
inferenceresult.ipynb
plot_comparison.ipynb
plot_comparison_old.ipynb
plotchi2s.ipynb
accuracy_check.ipynb
generate_les_mask.ipynb
roman_lowprecision_evaluate_.yaml
roman_limber+noRSD_gg_evaluate.yaml
roman_limber+noRSD_gs_evaluate.yaml
roman_lcdm_SRDmask_mcmc.yaml